beautifulsoup4     
certifi           
charset-normalizer
colorama          
contourpy         
cycler             
filelock           
fonttools          
fsspec
idna             
iniconfig         
Jinja2            
kiwisolver        
lxml              
MarkupSafe        
matplotlib         
mpmath            
networkx          
numpy             
opencv-python 
packaging        
pandas            
pillow             
pip                
pluggy            
psutil            
py-cpuinfo        
pyparsing         
pytest            
python-dateutil
pytz               
PyYAML            
requests           
scipy              
seaborn            
setuptools         
six                
soupsieve       
sympy              
torch 
torchaudio   
torchvision      
tqdm               
typing_extensions  
tzdata             
ultralytics        
ultralytics-thop   
urllib3           